.channel-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.upload-button {
  align-self: center;
  background-color: #1a73e8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}

.no-content {
  text-align: center;
  margin-top: 50px;
}

.no-content-image {
  width: 150px;
  margin-bottom: 20px;
}

.videos-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.video-item {
  width: 200px;
}

.view-videos-button {
  background-color: #1a73e8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.videos-list-your {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
}
