.mid-menu-container {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    margin-top: 20px;
}

.btn-group {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.btn-group::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.custom-btn {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
    margin: 0 0.25rem;
    border-radius: 1rem;
}

.scroll-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0 0.5rem;
}