body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: monospace;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
