.extra-buttons {
    display: flex;
}

.icon-button {
    background-color: white !important;
    border-color: transparent !important;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

.microphone-button {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

#search-button {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
}

.my-search-container {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.left_buttons {
    flex: 1;
}

.search-text {
    padding-right: 10px;
}

.middle_buttons {
    flex: 3;
    display: flex;
}

.right_buttons {
    flex: 1;
    justify-content: right;
}

.record-button {
    margin-right: 200px;
}

